apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  namespace: {{ name_space }}
  name: {{ np_name }}
  labels:
    tft-tests: {{ label_tft_tests }}
spec:
  podSelector:
    matchLabels:
      tft-tests: {{ label_tft_tests }}
  policyTypes:
    - Ingress
    - Egress
  ingress: []
  egress: []
