apiVersion: k8s.ovn.org/v1
kind: UserDefinedNetwork
metadata:
  name: tft-secondary
  namespace: {{ name_space }}
  labels:
    tft-tests: "udn"{% if has_resource_name %}
  annotations:
    k8s.v1.cni.cncf.io/resourceName: {{ resource_name }}{% endif %}
spec:
  topology: Layer2
  layer2:
    role: Secondary
    subnets:
    - {{ secondary_cidr }}
